{
    "openapi": "3.0.0",
    "info": {
      "title": "Bank Appointments API",
      "description": "An API for scheduling bank appointments",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "http://api.bankappointments.com//"
      }
    ],
    "paths": {
      "/appointments": {
        "get": {
          "description": "Get a list of appointments",
          "parameters": [
            {
              "name": "date",
              "in": "query",
              "description": "The date of the appointments to retrieve",
              "schema": {
                "type": "string",
                "format": "date"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A list of appointments",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Appointment"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "description": "Schedule a new appointment",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "The appointment was scheduled successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            }
          }
        }
      },
      "/appointments/{id}": {
        "get": {
          "description": "Get an appointment by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID of the appointment",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The appointment with the specified ID",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            },
            "404": {
              "description": "The appointment was not found"
            }
          }
        },
        "put": {
          "description": "Update an appointment",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID of the appointment",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "The appointment was updated successfully"
            },
            "404": {
              "description": "The appointment was not found"
            }
          }
        },
        "delete": {
          "description": "Cancel an appointment",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "description": "The ID of the appointment",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "The appointment was cancelled successfully"
            },
            "404": {
              "description": "The appointment was not found"
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "Appointment": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64"
            },
            "date": {
              "type": "string",
              "format": "date"
            },
            "time": {
              "type": "string",
              "format": "time"
            },
            "customer_name": {
              "type": "string"
            },
            "customer_email": {
              "type": "string",
              "format": "email"
            }
          }
        }
      }
    }
  }